<form
    class="registration-form"
    [formGroup]="registrationFormGroup"
    (submit)="submitForm()"
>
    <div class="input-content">
        <tui-input formControlName="userName" tuiHintContent="A tooltip">
            Фамилия Имя
            <tui-error
                formControlName="userName"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input>
    </div>

    <div class="input-content">
        <tui-input formControlName="email" tuiHintContent="A tooltip">
            Email
            <tui-error
                formControlName="email"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input>
    </div>

    <div class="input-content">
        <tui-input-password formControlName="password" tuiTextfieldSize="s">
            Пароль
            <tui-error
                formControlName="password"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input-password>
    </div>

    <div class="input-content">
        <tui-input-password
            formControlName="confirmPassword"
            tuiTextfieldSize="s"
        >
            Подтверждение пароля
            <tui-error
                formControlName="confirmPassword"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input-password>
    </div>

    <tui-error [error]="[] | tuiFieldError | async"></tui-error>

    <div class="registration-btn">
        <button
            tuiButton
            size="m"
            type="submit"
            [showLoader]="loadingBtn()"
            [disabled]="!registrationFormGroup.valid"
        >
            Зарегистрироваться
        </button>
    </div>
</form>
