@if (currentUser().username) {
    <tui-avatar
        [autoColor]="true"
        [text]="currentUser().username"
        class="avatar"
    ></tui-avatar>
}

<div class="link-container tui-skeleton_light">
    <a class="nav-link" icon="tuiIconHomeLarge" routerLink="/" tuiLink></a>
    &nbsp;
    <a
        class="nav-link"
        icon="tuiIconClipboardLarge"
        routerLink="/my-notes"
        tuiLink
    ></a>
    &nbsp;
    <a
        class="nav-link"
        icon="tuiIconEditLarge"
        routerLink="/my-notes/create"
        tuiLink
    ></a>
</div>

@if (currentUser().username) {
    <button
        appearance="icon"
        icon="tuiIconLogOutLarge"
        tuiIconButton
        type="button"
        (click)="logout()"
    ></button>
}
