.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    min-width: 3.5vw;
}

.avatar {
    margin-top: 1vh;
}

.nav-link {
    color: #0c0c0c;
}

@media (max-width: 480px) {
    .link-container {
        flex-direction: row;
        margin-top: 0;
    }

    .nav-link:nth-child(2) {
        margin: 0 2em;
    }
    .avatar {
        margin-top: 0;
        margin-left: 0.5em;
    }
}
