<form class="login-form" [formGroup]="loginFormGroup" (submit)="submitForm()">
    <div class="input-content">
        <tui-input formControlName="email" tuiHintContent="A tooltip">
            Email
            <tui-error
                formControlName="email"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input>
    </div>

    <div class="input-content">
        <tui-input-password formControlName="password" tuiTextfieldSize="s">
            Пароль
            <tui-error
                formControlName="password"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </tui-input-password>
    </div>

    <div class="login-btn">
        <button
            size="m"
            tuiButton
            type="submit"
            [showLoader]="loadingBtn()"
            [disabled]="!loginFormGroup.valid"
        >
            Войти
        </button>
    </div>
</form>
