.note-form-group {
    width: 60vw;
    margin: 0 auto;
}

.content {
    margin-top: 1em;
}

.content-button {
    margin-top: 1em;
    text-align: center;
}

.note-form-btn {
    text-align: center;
}

@media (max-width: 480px) {
    .note-form-group {
        width: auto;
        margin: 0 1em;
    }
}
