.note-form-group {
    width: 60vw;
    margin: auto 1em;
}

.input-content,
.note-form-btn,
.validator-container,
.checkbox-content,
.textarea-content {
    margin-top: 1em;
}

.note-form-btn {
    text-align: center;
}

@media (max-width: 480px) {
    .note-form-group {
        width: auto;
    }
}
