<form
    class="note-form-group"
    [formGroup]="noteFormGroup"
    (submit)="note ? updateForm() : submitForm()"
>
    <tui-select formControlName="section">
        Раздел
        <input placeholder="Выберите раздел" tuiTextfield />
        <tui-data-list-wrapper *tuiDataList [items]="noteSection">
        </tui-data-list-wrapper>
    </tui-select>
    <tui-error
        formControlName="section"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <div class="content">
        <tui-input formControlName="equipName" tuiHintContent="A tooltip">
            Наименование оборудования
        </tui-input>
        <tui-error
            formControlName="equipName"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div class="content">
        <tui-textarea formControlName="faultDescript"
            >Описание неисправности</tui-textarea
        >
        <tui-error
            formControlName="faultDescript"
            [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    <div
        class="content"
        appSolutionDescriptValidator
        [isCompletedControl]="noteFormGroup.controls.isCompleted"
        [solutionDescriptControl]="noteFormGroup.controls.solutionDescript"
    >
        <tui-checkbox-labeled class="content" formControlName="isCompleted">
            Неисправность устранена
        </tui-checkbox-labeled>

        @if (noteFormGroup.controls.isCompleted.value) {
            <div class="content">
                <tui-textarea formControlName="solutionDescript"
                    >Методика устранения неисправности</tui-textarea
                >
                <tui-error
                    formControlName="solutionDescript"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
        }
    </div>

    <div class="content-button">
        <button
            size="m"
            tuiButton
            type="submit"
            [disabled]="!noteFormGroup.valid"
        >
            {{ note ? 'Изменить' : 'Создать' }}
        </button>
    </div>
</form>
