h3 {
    text-align: center;
}

.date-content{
    color:  #0202029e;
}

.note-content {
    margin: 2em 2em;
    text-align: left;
    max-width: 80vh;
}

.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-content{
    border-bottom: 0.15em solid #2344;
    padding: 0.5em 0;
}

.solution-title{
    border-top: 0.15em solid #2344;
    margin-bottom: 0;
}

.descript-container{
    padding: 0.5em 0;
}

.buttons-block {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.edit-button {
    color: #000;
}