.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-container {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-align: center;
}
