@if (!isEditNoteMode()) {
    <div class="flex-container">
        @if (foundNote) {
            <div class="badge-container">
                <tui-badge
                    [status]="foundNote.isCompleted ? 'success' : 'error'"
                    [value]="
                        foundNote.isCompleted ? 'Устранено' : 'Нет решения'
                    "
                ></tui-badge>
            </div>

            <h2><strong>Раздел:</strong> {{ foundNote.section }}</h2>
            <h2><strong>Название:</strong> {{ foundNote.equipName }}</h2>
            <p class="tui-text_body-l">
                <strong>Описание:</strong> {{ foundNote.faultDescript }}
            </p>
            @if (foundNote.isCompleted) {
                <p class="tui-text_body-l">
                    <strong>Методика устранения:</strong>
                    {{ foundNote.solutionDescript }}
                </p>
            }
            <p class="ttui-text_body-s">
                <strong>Дата создания:</strong>
                {{ foundNote.date.join('.') }}
            </p>

            <div class="buttons-block">
                <button
                    class="tui-space_right-3 tui-space_bottom-3"
                    appearance="flat"
                    tuiButton
                    type="button"
                    (click)="deleteNote()"
                >
                    Удалить
                </button>

                <button
                    class="tui-space_right-3 tui-space_bottom-3"
                    appearance="flat"
                    tuiButton
                    type="button"
                    (click)="editNote()"
                >
                    Редактировать
                </button>
            </div>
        }
    </div>
} @else {
    <h3 class="tui-text_h5">Редактирование заметки</h3>
    <app-create-note-form [note]="foundNote"></app-create-note-form>
}
