@if (!isEditNoteMode()) {
    <div class="note-content">
        @if (foundNote) {
            <div class="head-container">
                <div class="date-content">
                    {{ foundNote.date.join('.') }}
                </div>
                <tui-badge
                    [status]="foundNote.isCompleted ? 'success' : 'error'"
                    [value]="
                        foundNote.isCompleted ? 'Устранено' : 'Нет решения'
                    "
                ></tui-badge>
            </div>
            <div class="title-content tui-text_h6">
                {{ foundNote.equipName }}
            </div>
            <div class="descript-container tui-text_body-l">
                {{ foundNote.faultDescript }}
            </div>
            @if (foundNote.isCompleted) {
                <div class="solution-title-container tui-text_body-l">
                    <p class="solution-title">
                        {{ foundNote.solutionDescript }}
                    </p>
                </div>
            }
        }
        @if (currentUserIsAuthor()) {
            <div class="buttons-block">
                <button
                    class="edit-button"
                    appearance="icon"
                    icon="tuiIconEdit3Large"
                    tuiIconButton
                    type="button"
                    (click)="editNote()"
                >
                    Редактировать
                </button>

                <button
                    class="edit-button"
                    appearance="icon"
                    icon="tuiIconTrash2Large"
                    tuiIconButton
                    type="button"
                    (click)="deleteNote()"
                >
                    Удалить
                </button>
            </div>
        }
    </div>
} @else if (currentUserIsAuthor()) {
    <h3 class="tui-text_h5">Редактирование заметки</h3>
    <app-create-note-form [note]="foundNote"></app-create-note-form>
}
