.home-page-content {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.welcome-img {
    width: 20em;
}

.info-container {
    padding-left: 5em;
}

.img-container {
    margin: auto;
    padding-right: 5em;
}

@media (max-width: 480px) {
    .home-page-content {
        flex-direction: column;
    }

    .info-container {
        padding-left: 0;
    }

    .welcome-img {
        display: inline-table;
        margin-top: 5em;
    }
}
