<div class="home-page-content">
    <div class="info-container">
        <div class="info-text">
            <div class="title-container">
                <h3 class="app-name tui-text_h3">Defect notes list</h3>
                <p class="author-title tui-text_body-m">by Kamenko Gena</p>
            </div>
            <p class="tui-text_body-m">
                Приложение, позволяющее вести список неисправностей с методиками
                их устранения.
            </p>
        </div>
        <button
            appearance="accent"
            tuiButton
            type="button"
            routerLink="/my-notes"
        >
            Начать
        </button>
    </div>
    <div class="img-container">
        <img class="welcome-img" src="assets/welcome.svg" alt="welcome-img" />
    </div>
</div>
