.home-page-content {
    margin: 3em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.welcome-img {
    width: 20em;
}

.app-name {
    margin: 0;
}

.title-container {
    display: flex;
}

.author-title {
    margin-left: 1em;
    color: rgba(0, 0, 0, 0.363);
}

.info-container {
    padding-left: 5em;
}

.img-container {
    margin: auto;
    padding-right: 5em;
}

@media (max-width: 860px) {
    .home-page-content {
        flex-direction: column;
    }

    .info-container {
        padding-left: 0;
    }

    .welcome-img {
        display: inline-table;
        height: auto;
        margin-top: 5em;
    }
}

@media (max-width: 1003px) {
    .title-container {
        display: initial;
    }
    .author-title {
        margin: 0;
    }
}
