<div class="home-page-content">
    <div class="info-container">
        <div class="info-text">
            <h3 class="tui-text_h3">Defect notes list</h3>
            <p class="tui-text_body-m">
                Приложение, позволяющее вести список заметок неисправностей
                оборудования с методиками их устранения.
            </p>
        </div>
        <button
            appearance="accent"
            tuiButton
            type="button"
            routerLink="/my-notes"
        >
            Начать
        </button>
    </div>
    <div class="img-container">
        <tui-svg class="welcome-img" [src]="welcomeImg()"></tui-svg>
    </div>
</div>
