<div class="table">
    <table tuiTableFilters tuiTable [style.width.rem]="58">
        <thead>
            <tr tuiThGroup>
                <th tuiTh [resizable]="true">Раздел</th>
                <th tuiTh [resizable]="true">Название</th>
                <th tuiTh [resizable]="true">Статус</th>
                <th tuiTh [resizable]="true">Дата</th>
                <th tuiTh [resizable]="true">Ссылка</th>
            </tr>
        </thead>
        <tbody tuiTbody>
            <tr *ngFor="let note of notesFromFirebase()">
                <td tuiTd>{{ note.section }}</td>
                <td tuiTd>{{ note.equipName }}</td>
                <td tuiTd>
                    <ng-container *ngIf="note.isCompleted; else notResolved">
                        <tui-badge
                            status="success"
                            value="Устранено"
                        ></tui-badge>
                    </ng-container>
                    <ng-template #notResolved>
                        <tui-badge
                            status="error"
                            value="Нет решения"
                        ></tui-badge>
                    </ng-template>
                </td>
                <td tuiTd>{{ note.date.join('.') }}</td>
                <td tuiTd>
                    <a [routerLink]="['/my-notes', note.id]" tuiLink>
                        Подробнее
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
