.table-content {
    margin: auto 1em;
}

.table-container {
    max-height: 100vh;
}

.filter-button {
    margin: 0.5em;
}

.filter-buttons-block {
    display: flex;
    justify-content: end;
}

.author-block {
    display: flex;
}

.select-container {
    min-width: 15em;
    align-content: center;
}
