.table-content {
    padding: 1em;
    width: 100%;
}

.table-container {
    max-height: 100vh;
}

.table-head {
    text-align: center;
}

.table-content thead tr:first-child th:first-child {
    border-top-left-radius: 1em;
}

.table-content thead tr:first-child th:last-child {
    border-top-right-radius: 1em;
}

.table-content tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
}

.table-content tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
}


.filter-button {
    margin: 0.5em;
    background-color: #fff;
}

.filter-buttons-block {
    display: flex;
    justify-content: end;
    margin: auto 1em;
}

.author-block {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5em;
}

.select-container {
    min-width: 15em;
    align-content: center;
}

@media (max-width: 660px) {
    table tr > *:nth-child(2),
    table tr > *:nth-child(4) {
        display: none;
    }
}
