<div class="table-container">
    <div tuiGroup class="group" [collapsed]="true">
        <form [formGroup]="filterSectionGroup">
            <tui-select
                tuiTextfieldSize="s"
                formControlName="filterSectionName"
            >
                Раздел
                <input placeholder="Выберите раздел" tuiTextfield />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="noteSection"
                ></tui-data-list-wrapper>
            </tui-select>
        </form>
        <button
            appearance="outline"
            size="s"
            tuiButton
            type="button"
            (click)="filterData()"
        >
            Дата
        </button>
        <button
            appearance="outline"
            size="s"
            tuiButton
            type="button"
            (click)="filterComplited()"
        >
            Статус
        </button>
    </div>
    <table class="tui-table" tuiTable>
        <thead>
            <tr tuiThGroup>
                @for (colName of tableColName; track colName) {
                    <th tuiTh [resizable]="true">
                        <strong>{{ colName }}</strong>
                    </th>
                }
            </tr>
        </thead>
        <tbody tuiTbody>
            @for (note of notesFromFirebase(); track note) {
                <tr>
                    <td tuiTd>{{ note.section }}</td>
                    <td tuiTd>{{ note.equipName }}</td>
                    <td tuiTd>
                        <tui-badge
                            [status]="note.isCompleted ? 'success' : 'error'"
                            [value]="
                                note.isCompleted ? 'Устранено' : 'Нет решения'
                            "
                        ></tui-badge>
                    </td>
                    <td tuiTd>{{ note.date.join('.') }}</td>
                    <td tuiTd>
                        <a [routerLink]="['/my-notes', note.id]" tuiLink>
                            Подробнее
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
