.tui-table {
    width: 80vw;
}

.table-container {
    max-height: 100vh;
}

.filter-button {
    margin: 0.5em;
}

.filter-buttons-block {
    display: flex;
    justify-content: end;
}

.author-block {
    display: flex;
}
